################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaucyKittens/.vs/SaucyKittens/v16/Server/sqlite3
